$odd-row-color: #f0f0f0 !default;
$even-row-color: #fafafa !default;
$header-row-color: #ddd !default;


.filters {
  h2 {
    background:#f0f0f0;
    padding:10px;
    &:hover {
      cursor:pointer;
    }
  }
}

.table-data {
  background:white;
  tr {
    border-bottom:1px solid #cfcfcf;
    td {
      white-space: nowrap;
      a {
        text-decoration:none;
        &:hover {
          text-decoration: underline;
        }
      }
      span.ssn {
        display:block;
        font-size:0.875em;
      }
    }
  }
  tr{
    background: white;
  }
  tr:nth-child(even) {
    border-bottom:1px solid darken($odd-row-color, 7%);
    &:hover {
      background:$odd-row-color;
    }
  }
  tr:nth-child(odd) {
    border-bottom:1px solid darken($odd-row-color, 7%);
    &:hover {
      background:$odd-row-color;
    }
  }
  tfoot {

  }
}